<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All authors</title>
    <link rel="import" href="/div_logout.html">
    <object type="text/html" data="div_logout.html"></object>
</head>
<body>



<!- создаем кнопку с методом GET для вызова страници "/author/new" и пердачи в нее объекта Author ->
<form th:method="GET" th:action="@{/user/new}" th:object="${user}">
    <input type="submit" value="Create new user"/>
</form>

<br/>

<!- проходим по листу достаем объекты (как foreach) ->
<div th:each="user : ${users}">

    <a th:text="${user.getId()}">user</a>)
    <a th:text="${user.getUsername()}">user</a>
    <a th:href="@{/user/{id}(id=${user.getId()})}" th:text="${user.getEmail()}">user</a>

</div>

</body>
</html>