<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>New author</title>
</head>
<body>

<form th:method="POST" th:action="@{/user/add}" th:object="${user}">

    <label for="name">FirstName:</label>
    <input type="text" th:field="*{username}" id="name"/>
    <br/>

    <label for="family">LastName:</label>
    <input type="text" th:field="*{family}" id="family"/>
    <br/>

    <label for="birthday">Birth of day:</label>
    <input type="date" th:field="*{birthDay}" id="birthday"/>
    <br/>

    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>

    <label for="role">Role:</label>
    <select  th:field="*{roles}" id="role">
        <div th:each="role : ${roles}">
            <option th:value="${role}" th:text = "${role}">role</option>
        </div>
    </select>
    <br/>

    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <label for="country">Country:</label>
    <select  th:field="*{country}" id="country">
        <div th:each="country : ${lot_country}">
            <option th:value="${country.getId()}" th:text = "${country.getName()}">country</option>
        </div>
    </select>
    <br/>

    <input type="submit" value="Create"/>

</form>

</body>
</html>